<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Youtube search engine</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Awesome videos!" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="text-center text-danger">
          <span class="fa fa-youtube"></span>
          YouTube Search
        </h1>
      </header>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">Search by Name</a></li>
        <li><a data-toggle="tab" href="#menu2">Search by Id</a></li>
        <li><a data-toggle="tab" href="#menu3">Youtube Music 5M Dataset</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>Youtube Data API</h3>
          <p>
            The YouTube Application Programming Interface allows developers to
            access video statistics and YouTube channels data via two types of
            calls, REST and XML-RPC. Google describe the YouTube API Resources
            as "APIs and Tools that let you bring the YouTube experience to your
            webpage, application or device."
          </p>
          <a href="https://developers.google.com/youtube/v3" target="_blank"
            >Read More...</a
          >
          <hr />
          <h3>API List</h3>
          <ul>
            <li>
              <h4>Search by title</h4>
              <b>API Endpoint:</b> <code>youtube/title/:title</code><br />
              <b>Eg: </b>
              <code
                >https://musicrs-youtube.herokuapp.com/youtube/title/--title--</code
              >
              <ul>
                <li>
                  <b>Test1: </b>
                  <a
                    href="https://musicrs-youtube.herokuapp.com/youtube/title/address decoding"
                    target="_blank"
                    >Youtube Search: Address Decoding</a
                  >
                </li>
                <li>
                  <b>Test2: </b>
                  <a
                    href="https://musicrs-youtube.herokuapp.com/youtube/title/Stock Management by AAkrit Subedi"
                    target="_blank"
                    >Youtube Search: Stock Management by AAkrit Subedi</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <h4>Search by id</h4>
              <b>API Endpoint:</b> <code>youtube/title/:id</code><br />
              <b>Eg: </b>
              <code
                >https://musicrs-youtube.herokuapp.com/youtube/title/--id--</code
              >
              <ul>
                <li>
                  <b>Test1: </b>
                  <a
                    href="https://musicrs-youtube.herokuapp.com/youtube/id/yNx5yPd338M"
                    target="_blank"
                    >Youtube Id: yNx5yPd338M
                  </a>
                </li>
                <li>
                  <b>Test2: </b>
                  <a
                    href="https://musicrs-youtube.herokuapp.com/youtube/id/90wW8sPuf8M"
                    target="_blank"
                    >Youtube Id: 90wW8sPuf8M</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div id="menu1" class="tab-pane fade in">
          <h3>Search by Title</h3>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form action="#" id="by-title">
                <p>
                  <input
                    type="text"
                    id="search-title"
                    placeholder="Type something..."
                    autocomplete="off"
                    class="form-control"
                  />
                </p>
                <p>
                  <input
                    type="submit"
                    value="Search"
                    class="form-control btn btn-primary w100"
                  />
                </p>
              </form>

              <div id="result-title"></div>
            </div>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade in">
          <h3>Search by Id</h3>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form action="#" id="by-id">
                <p>
                  <input
                    type="text"
                    id="search-id"
                    placeholder="Search by id..."
                    autocomplete="off"
                    class="form-control"
                  />
                </p>
                <p>
                  <input
                    type="submit"
                    value="Search"
                    class="form-control btn btn-primary w100"
                  />
                </p>
              </form>

              <div id="result-id"></div>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade in">
          <h3>Youtube 5M Dataset</h3>
          <div class="row">
            <div class="col-md-7">
              <ul>
                <li>5,119,955 video ID's in youtube in 20 text files.</li>
                <li>
                  file name: "youtube_video_ids_{:0d}_{}.txt".format(file_index,
                  n_ids_this_file)
                </li>
                <li>
                  Entries of the files are either
                  <ul>
                    <li><code>"\n"</code></li>
                    <li>
                      <code>
                        "# new artist:\t{}\t{}\n".format(artist_name,
                        artist_spotify_id)
                      </code>
                    </li>
                    <li><code>"{}\n".format(youtube_video_id)</code></li>
                  </ul>
                </li>
                <li>
                  E.g., the first 10 lines of youtube_video_ids_00_206947.txt is...
                  <pre>
                    # new artist: Drake 3TVXtAsR1Inumwj472S9r4
    
                      3t195yz9xCc
                      VkXjvHfP3MM
                      7LnBvuzjpr4
                      1Ldzm7KGECI
                      HL1UzIK-flA
                      3XR5mhXtpXw
                      WsPfSXJaelk
                  </pre>
                </li>
                <li>
                  Files and entries are sorted by some sort of artist popularity.
                </li>
                <li>Each text file includee video ID's of 500 artists</li>
              </ul>
            </div>
            <div class="col-md-5">
              <h4>Download Dataset</h4>
              <a href="youtube-dataset.zip">Download 5M Music Dataset.zip</a>
              <ul>
                <li><a href="youtube-dataset/youtube_video_ids_00_206947.txt">file-1</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_01_235614.txt">file-2</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_02_242353.txt">file-3</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_03_244387.txt">file-4</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_04_249301.txt">file-5</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_05_248627.txt">file-6</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_06_247838.txt">file-7</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_07_255766.txt">file-8</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_08_252801.txt">file-9</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_09_251585.txt">file-10</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_10_252204.txt">file-11</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_11_248030.txt">file-12</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_12_248831.txt">file-13</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_13_247658.txt">file-14</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_14_247557.txt">file-15</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_15_250890.txt">file-16</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_16_250165.txt">file-17</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_17_247362.txt">file-18</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_18_250524.txt">file-19</a></li>
                <li><a href="youtube-dataset/youtube_video_ids_19_246323.txt">file-20</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="static/app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </body>
</html>
